@import url(/style/header.css);

:root{
     --cor-princripal: #ffffff;
      --cor-secundaia: #f30909;
      --cor-escrita: #000000;
     --cor-defundo: #fabcbc;
     --fonte-principal: "roboto"
     --fonte-segundaria



}


*{
    margin: 0;
    padding: 0;

}



body  {
    .cabecalho{

    }
    background-color: blue;
    color: aquamarine;
    display: flex;
    justify-content;: space-
    padding: 24px;
}
/
.cabecalho{

}
.cabecalho-imagem{
width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16;
    padding: 25px 0;
    font-size: 24px;

}
.nome.img{
    width: 120px
}
.div-apresentacao{
    text-align: center;
    padding: 16px;
}
.icon-redes{
width: 24px;
padding: 4px 8px;
}
